html{
 height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: rgba(0, 9, 90, 0.945);
    display: flex;
    flex-direction: column;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1524494860062-9442631ee30e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

label{
    color:white
}

form{
    
    width: 100%;
}
main.container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-container, .register-container, .insert_form, .edit_form, .show_camp{   
 padding: 1rem;
 width:100%;
 border-radius: .8rem;
}

h1,h2,h3{
    color:white
}
#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}